<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-9">
        <div class="block">
            <h4>群聊</h4>

            <div style="height: 350px;overflow: auto" id="publicChat">
            </div>

            <form action="#" id="publicSay">

                <table class="table">
                    <tr>
                        <td>
                            <% if(session.isAuth){ %>
                            <input class="form-control" id="publicSayContent">
                            <% }else{ %>
                            <input class="form-control" id="publicSayContent" disabled="disabled">
                            <% } %>
                        </td>
                        <td>
                            <% if(session.isAuth){ %>
                            <button class="btn btn-default">发送</button>
                            <% }else{ %>
                            <button class="btn btn-default" disabled="disabled">发送</button>
                            <% } %>
                        </td>
                    </tr>
                </table>


            </form>
        </div>
        <div class="block" id="">
            <h4>私聊</h4>
            <table class="table">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-3">
        <% if(session.isAuth){ %>
        <div class="block">
            <a href="/chat/creatRoom">
                <button class="btn btn-info" style="width: 225px">新建聊天室</button>
            </a>
        </div>
        <% } %>
        <div class="block">
            <% if(!session.isAuth){ %>
            <% include ../plugins/login.html %>
            <% }else{ %>
            <% include ../plugins/personal.ejs %>
            <% } %>
        </div>

        <div class="block">
            <h4>在线人数</h4>
            0
        </div>
    </div>
</div>
<% include ../layout/footer %>