<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-9">
        <div class="block">
            <h4>私人聊天室：<%= roomName %></h4>

            <div class="privateChatContent" id="privateChatContent">
            </div>

            <form action="#" id="privateSay">
                <table class="table">
                    <tr>
                        <td>
                            <% if(session.isAuth){ %>
                            <input class="form-control" id="mySay">
                            <% }else{ %>
                            <input class="form-control" id="mySay" disabled="disabled">
                            <% } %>
                        </td>
                        <td>
                            <% if(session.isAuth){ %>
                            <button class="btn btn-default">发送</button>
                            <% }else{ %>
                            <button class="btn btn-default" disabled="disabled">发送</button>
                            <% } %>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="col-lg-3">

        <div class="block">
            <h4><%= roomName %></h4><h4>在线成员:</h4>

            <h3 id="onlineNum">0</h3>
        </div>
    </div>
</div>
<% include ../layout/footer %>
<script src="/tcp/client/clientOn.js"></script>
<script src="/tcp/client/clientEmit.js"></script>