<% include ../layout/adminHeader.ejs %>
<div class="row">
    <div class="col-lg-3 col-lg-offset-1">
        <h1>ADMIN MANAGER</h1>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-lg-3 col-lg-offset-3 ">
        <form action="api/auth.php" method="post">
            name:<input name="name" class="form-control" required="required">
            <br>
            password:<input name="pwd" class="form-control" required="required" type="password">
            <br>
            <button class="btn btn-default">login</button>
        </form>
    </div>
</div>
<% include ../layout/adminFooter.ejs %>
