<% include ../layout/adminHeader.ejs %>
<% include ../nav/adminSidebar.ejs %>
<% include ../nav/adminTopbar.ejs %>
<div class="content">
    <% include ./content/user.ejs %>
</div>
<% include ../layout/adminFooter.ejs %>

