<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-xs-9">
        <div class="block">
            <%
            var length = game.length;
            for(var i = 0 ;i < length;i++){
            %>
            <div class="row">
                <div class="col-xs-6">
                    <a href=<%= hrefUrl[i] %>><img src="<%= imgUrl[i] %>" style="width: 70%;"></a>
                </div>
                <div class="col-xs-4">
                    <h4>介绍</h4>
                    <%- introduce[i] %>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <% } %>
        </div>
    </div>
    <% include ../plugins/rightContent.html %>
</div>
</div>

<% include ../layout/footer %>