<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-9">
        <div class="block">
        </div>
    </div>

    <div class="col-lg-3">
        <div class="block">
        </div>
    </div>
</div>
<% include ../layout/footer %>