<h4>个人资料</h4>
姓名：<%= session.name %><br>
注册时间：<%= new Date(parseInt(session.time)).getFullYear() + "-"
+ parseInt(new Date(parseInt(session.time)).getMonth()+1) + "-"
+ new Date(parseInt(session.time)).getDate() %><br>
<!--粉丝：<%= session.follower %><br>-->