<div class="sideBar">
    <a href="#"><img src="/public/img/setting.png"></a>
    <a href="/admin/manager/user">User Manage</a>
    <a href="/admin/manager/article">Article Manage</a>
    <a href="/admin/manager/program">Program Manage</a>
</div>