<div class="sideBar">
    <a href="#" style="background-color: black"><img src="/public/img/setting.png"></a>
    <a href="/admin/program">Program Manage</a>
    <a href="/admin/user">User Manage</a>
    <a href="/admin/article">Article Manage</a>
</div>