  </div>
</div>
<div class="cc-footer">
  <div class="footer-introduce">
    <a href="https://github.com/zhentaoo/Coconut" target="_blank">本站的源码都在这里，技术栈:bootstrap+express+mongodb，欢迎提PR，Issue，各种建议</a>
    <h5>这里实质是个人博客，也提供了讨论功能，同时我会把感兴趣的代码演示和编程经验感想发布到这里，欢迎大家讨论／吐槽</h5>
    <p> </p>

  </div>

  <div class="footer">
    <div>
        <h5>H5/Node 技术交流群</h5>
        <img src="/public/img/qq.png" alt="">
    </div>
    <div class="">
        <h5>微信打赏博主一元</h5>
        <img src="/public/img/wx.png" alt="">
    </div>
    <div>
        <h5> 网站备案: </h5>
        <div style="font-size:12px;">
          皖ICP备15008495号-1
        </div>
    </div>
    <div>
      <h5 class="ad-title">广告小专区</h5><span>(点一下也是爱)</span>
      <a class="ad-item" href='http://u.ctrip.com/union/CtripRedirect.aspx?TypeID=2&Allianceid=438136&sid=934105&OUID=&jumpUrl=http%3A%2F%2Fwww.ctrip.com%2F%3FAllianceid%3D438136%26sid%3D934105%26OUID%3D%26MultiUnionSupport%3Dtrue' target='_blank' >携程旅行网-首页</a>
      <a class="ad-item" href='http://u.ctrip.com/union/CtripRedirect.aspx?TypeID=2&Allianceid=438136&sid=934040&OUID=&jumpUrl=http%3A%2F%2Ftrains.ctrip.com%2F%3FAllianceid%3D438136%26sid%3D934040%26OUID%3D%26MultiUnionSupport%3Dtrue' target='_blank' >携程旅行网-火车票</a>
      <a class="ad-item" href='http://u.ctrip.com/union/CtripRedirect.aspx?TypeID=2&Allianceid=438136&sid=934040&OUID=&jumpUrl=http%3A%2F%2Fbus.ctrip.com%2F%3FAllianceid%3D438136%26sid%3D934040%26OUID%3D%26MultiUnionSupport%3Dtrue' target='_blank' >携程旅行网-汽车票</a>
    </div>
  </div>
</div>

</body>
</html>
