  <div style="clear: both"></div>
  </div>
</div>
<div class="cc-footer">

  <div class="footer">
    <div>
        <h5>H5/Node 技术交流群</h5>
        <img src="/img/qq.png" alt="">
    </div>
    <div class="">
        <h5>关于</h5>
        作为个人博客，我会把一些随笔，个人翻译文档，技能树<br/>
        以及一些个人觉得有趣的东西发布在这里。<br/>
        如果喜欢可以加一下群，分享给你的朋友。😄
    </div>
    <div>
        <h5> 网站备案: </h5>
        <div style="font-size:12px;">
          皖ICP备15008495号-1
        </div>
    </div>
    <div>
      <h5 class="ad-title">友情链接</h5><span>(大家可以访问一下)</span>
      <a class="ad-item" href='http://www.qyezi.com' target='_blank' >青叶子小游戏网站</a>
      <a class="ad-item" href='http://m.qyezi.com' target='_blank' >移动版青叶子小游戏网站</a>
    </div>
  </div>
</div>

</body>
</html>
