<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>zhentaoo个人博客</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu_union_verify" content="d65d550f33548720ca069420a410ef64">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="zhentaoo的个人博客">
    <meta name="keywords" content="个人博客，nodejs，zhentaoo">
    <meta property="wb:webmaster" content="898c62d3c65c3949" />
    
    <link href="/public/css/layout.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/public/css/common.css" rel="stylesheet">
    <link href="/public/css/plugin.css" rel="stylesheet">
    <link href="/public/css/chat.css" rel="stylesheet">
    <script src="/public/js/socket.js"></script>

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.all.min.js"></script>

    <link rel="icon" href="/public/img/z.png" type="image/x-icon"/>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b56d58eb9b155bb93221933343a9c83d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</head>
<body>
