<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%=one.title%>|青菜叶子</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu_union_verify" content="1c7892dcc35c0c050e543843ce226a28">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="程序员技术博客">
    <meta name="keywords" content="大前端，程序员，nodejs，nginx,linux，mongodb">
    <meta property="wb:webmaster" content="898c62d3c65c3949" />

    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/program.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/plugin.css" rel="stylesheet">
    <link href="/css/chat.css" rel="stylesheet">
    <html xmlns:wb="http://open.weibo.com/wb">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=554164338" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <script src="/js/socket.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <link rel="icon" href="/img/z-logo.png" type="image/x-icon"/>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b56d58eb9b155bb93221933343a9c83d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</head>
<body>
