<div class="cc-navbar">
  <div class="in-navbar">
      <ul class="">
          <li><a href="/">zhentaoo</a></li>
          <li><a href="/program" >博文</a></li>
          <!-- <li><a href="/sns" >问答</a></li> -->
          <li><a href="/chat" >聊天</a></li>
      </ul>
      <ul>
        <% if(!session.isAuth){ %>
        <li><a href="https://github.com/login/oauth/authorize?client_id='de8cf729f2a5327c5747'" >GitHub登录</a></li>
        <% }else{ %>
        <li>
          <!-- <a href="/sns/sendArticle"><button class="btn">发帖</button></a> -->
        </li>
        <li><a href="#"  id="userName">
                <%= session.name %>
            </a></li>
        <!-- <li><a href="/logout" >
                退出</a></li> -->
        <% } %>

      </ul>
  </div>
</div>

<div class="cc-container">
  <div class="container">
