<div class="cc-navbar">
  <div class="in-navbar">
      <ul class="">
          <li id="about"><a href="/about"><img src="/img/header2.png" alt="斟淘随笔"></a></li>
          <li id="program"><a href="/program">随笔</a></li>
          <li id="resource"><a href="/resource">技能图谱</a></li>
          <li id="chat"><a href="/chat" style="">聊天</a></li>
      </ul>
      <ul>
        <wb:login-button type="3,2" onlogin="login" onlogout="logout">登录按钮</wb:login-button>
      </ul>
  </div>
</div>

<script type="text/javascript">
if (location.pathname.indexOf('/about') != -1) {
  document.querySelector('#about').className = 'header-active header-active-a-margin-left';
} else if (location.pathname.indexOf('/program') != -1 || location.pathname == '/') {
  document.querySelector('#program').className = 'header-active';
} else if (location.pathname.indexOf('/chat') != -1) {
  document.querySelector('#chat').className = 'header-active';
} else if (location.pathname.indexOf('tools') != -1) {
  document.querySelector('#tools').className = 'header-active';
} else if (location.pathname.indexOf('resource') != -1) {
  document.querySelector('#resource').className = 'header-active';
}

window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","weixin","renren","tqq","tsina","sqq","tieba","douban","ibaidu","h163","evernotecn"],"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"2","bdPos":"left","bdTop":"145"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>

<style media="screen">
.WB_widgets {
  padding: 7px 0 0 0;
}
.login_button_32 img{
  height: 25px;
  width: 28px;
}
.login_button_32 a {
  color: white;
  padding-left: 5px;
}
.loginout{
  color: #d4d2d2 !important;
}
</style>

<div class="cc-containers">
  <div class="containers">
