<% include layout/header.ejs %>
<% include nav/topbar.ejs %>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <%= tittle %>
    </div>
</div>
<% include layout/footer.ejs %>