<% include layout/header %>
<% include nav/topbar %>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <button class="btn btn-danger">sdfsdf</button>
        <p>Welcome to <%= message %></p>

    </div>
</div>
<% include layout/footer %>