<% include layout/header %>
<% include nav/topbar %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-xs-12">
        <h2>登录</h2>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-3 col-lg-offset-3 col-xs-12">
        <%= message %>
        <form action="/login" method="post">
            email:<input name="email" class="form-control" type="email" required="required">
            <br><br>
            psw:<input name="password" type="password" class="form-control" required="required">
            <br><br>
            <button type="submit" class="btn btn-success">submit</button>
        </form>
    </div>
</div>
<% include layout/footer %>
