<% include layout/header.ejs %>
<% include nav/topbar.ejs %>
<div class="row">
    <div class="col-lg-3 col-lg-offset-3 col-xs-12">
        <h1> <%= tittle %></h1>

        <form action="/register" method="post">
            name:<input name="name" class="form-control">
            <br>
            psw:<input name="psw" class="form-control">
            <br>
            email:<input name="email" class="form-control">
            <br>
            <button type="submit" class="btn btn-default btn-success">submit</button>
        </form>
        <% include layout/footer.ejs %>
    </div>
</div>