.content {
    padding: 20px 20px 150px 50px;
    left: 180px;
    top: 45px;
    color: #4ba575;
    position: absolute;
    width: 747px;
}

.sideBar {
    z-index: 11111;
    top: 45px;
    position: fixed;
    height: 100%;
    width: 180px;
    background-color: #3E3D49;
}

.sideBar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    background-color: #3E3D49;
    border-bottom: 1px solid #353644;
}

.sideBar a:hover {
    background-color: #414D5C;
}

.adminTopbar {
    z-index: 1111111111;
    width: 100%;
    position: fixed;
    height: 45px;
    background-color: #353644;
    padding: 5px;
}

.adminTopbarLeft {
    color: whitesmoke;
    font-size: 22px;
    float: left;
}

.adminTopbarRight {
    padding-top: 5px;
    padding-right: 30px;
    color: white;
    font-size: 16px;
    float: right;
}

.adminContentTitle {
    color: blue;
}
