
.weixin {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.avatar {
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.font-logo {
    color: #4ba575;
    font-size: 20px;
}

.topBarFont {
    font-size: 15px;
}

.block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 3px;
}

.floatLeft {
    float: left;
    clear: both;
}

.floatRight {
    clear: both;
    float: right;
}

.speak {
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    float: left;
    background: #5BC0DE;
    margin-top: 10px;
    margin-bottom: 10px;
}

.speakName {
    float: left;
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mySpeak {
    float: left;
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    margin-left: 2px;
    background: #caf3a1;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mySpeakName {
    float: left;
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    margin-left: 2px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bigBtn {
    width: 100%;
}

.chatContent {
    height: 450px;
    overflow: auto;
    border: 1px solid rgba(128, 128, 128, 0.27);
    margin-bottom: 4px;
    border-radius: 4px;
}

.privateChatContent {
    height: 450px;
    overflow: auto;
}
