img {
    width: 340px;
    height: 200px;
    border-radius: 5px;
}

h4 {
    color: #3550ad;
    font-size: 20px;
}

.myBorder {
    background-color: #f0fbe8;
    border-radius: 5px;
    /*border: 1px solid yellowgreen;*/
}

.myBox {
    background-color: #f0fbe8;
    /*border: 1px solid yellowgreen;*/
    min-height: 200px;
    border-radius: 5px;
}

.myLeftBorder {
    /*border-left: 1px solid silver;*/
}

.myRightBorder {
    /*border-right: 1px solid silver;*/
}

.myPadding {
    padding: 20px
}

.weixin {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.avatar {
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.logo {
    margin-top: 7px;
    margin-right: 20px;
    width: 125px;
    height: 30px;
}

.font-logo {
    color: #1b9aff;
    font-size: 30px;
    margin-right: 30px;
}

a {
    color: #1b9aff;
}

.topBarFont {
    color: #1b9aff;
    font-size: 17px;
}

.bbsRight {
    /*border: 1px solid yellowgreen;*/
    border-radius: 5px;
    padding: 10px;
    background-color: #e5ffef;
}

.bbsLeft {
    background-color: #e5ffef;
    padding: 30px;
    padding-left: 50px;
    /*border: 1px solid yellowgreen;*/
    border-radius: 5px;
}