img {
    width: 100%;
    border-radius: 5px;
}

body {
    background-color: #E1E1E1;
}

h4 {
    color: #4cae4c;
    font-size: 18px;
}

.title {
    color: #4cae4c;
}

.myBorder {
    background-color: #f0fbe8;
    border-radius: 5px;
    /*border: 1px solid yellowgreen;*/
}

.myBox {
    background-color: #f0fbe8;
    /*border: 1px solid yellowgreen;*/
    min-height: 200px;
    border-radius: 5px;
}

.myLeftBorder {
    /*border-left: 1px solid silver;*/
}

.myRightBorder {
    /*border-right: 1px solid silver;*/
}

.myPadding {
    padding: 20px
}

.weixin {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.avatar {
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.font-logo {
    color: greenyellow;
    font-size: 20px;
}

.topBarFont {
    font-size: 15px;
}

a {
    color: black;
}

.block {
    background-color: #F5F5F5;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.floatLeft {
    float: left;
    clear: both;
}

.floatRight {
    clear: both;
    float: right;
}

.speak {
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    float: left;
    background: #5BC0DE;
    margin-top: 10px;
    margin-bottom: 10px;
}

.speakName {
    float: left;
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mySpeak {
    float: left;
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    margin-left: 2px;
    background: #caf3a1;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mySpeakName {
    float: left;
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    margin-left: 2px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bigBtn {
    width: 100%;
}

.chatContent {
    height: 350px;
    overflow: auto;
}

.privateChatContent {
    height: 450px;
    overflow: auto;
}

.newsImg {
    height: 150px;
    width: 22%;
    margin: 5px;
}

.introduce {
    color: #090a34;
    margin: 20px;
    line-height: 25px;
    font-size: 15px;
}

.introduce a {
    color: #4cae4c;
}

.tools{
    color: #090a34;
    margin: 20px;
    line-height: 25px;
    font-size: 15px;
}

.tools a{
}