img {
    width: 340px;
    height: 200px;
    border-radius: 5px;
}

h4 {
    color: #3550ad;
    font-size: 20px;
}

.myBorder {
    background-color: #f0fbe8;
    border-radius: 5px;
    /*border: 1px solid yellowgreen;*/
}

.myBox {
    background-color: #f0fbe8;
    /*border: 1px solid yellowgreen;*/
    min-height: 200px;
    border-radius: 5px;
}

.myLeftBorder {
    /*border-left: 1px solid silver;*/
}

.myRightBorder {
    /*border-right: 1px solid silver;*/
}

.myPadding {
    padding: 20px
}

.weixin {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.avatar {
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.font-logo {
    color: #1b9aff;
    font-size: 27px;
}

a {
    color: #1b9aff;
}

.topBarFont {
    color: #1b9aff;
    font-size: 17px;
}

.block {
    background-color: #e5ffef;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.speak {
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    background: #5BC0DE;
    float: left;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mySpeak {
    border-radius: 5px;
    max-width: 600px;
    padding: 5px;
    margin-left: 30px;
    background: #9ff3ae;
    position: relative;
    float: right;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bigBtn {
    width: 225px;
}