<% include ../../layout/header %>
<% include ../../layout/topbar %>
<div class="container-left">
  <form action="/sns/sendArticle" method="post">
      标题：<input name="title" class="form-control" required="required">
      <br>
      正文：
      <div>
          <textarea name="content" id="editor" required="required" style="width: 100%;height: 350px"></textarea>
          <!--<script id="editor" type="text/plain" style="width:100%"></script>-->
      </div>
      <br>
      <button class="btn btn-success" type="submit">发表</button>
  </form>
</div>

<div class="container-right">
  <% if(!session.isAuth){ %>
  <% include ../../plugins/login.html %>
  <% }else{ %>
  <% include ../../plugins/personal.ejs %>
  <% } %>
</div>
<% include ../../layout/footer %>

<script src="/public/js/ueditor.js"></script>
