<% include ../../layout/header %>
<% include ../../layout/topbar %>
<div class="container-left">
  <h4>标题:</h4><%= docs.title %><br><br>
  <h4>内容:</h4> <%- docs.content %><br>
</div>

<div class="container-right">
  <% include ../../plugins/category %>
</div>
<% include ../../layout/footer %>
