<div class="archive">
  <div>
    <strong>归档</strong>
  </div>
  <span class="tag my-tag">node</span>
  <span class="tag green-tag">HTML5</span>
  <span class="tag yellow-tag">VUE</span>
  <span class="tag green-tag">Element</span>
  <span class="tag green-tag">Mongo</span>
  <span class="tag blue-tag">Nginx</span>
</div>

<div class="archive-latest">
  <div>
    <strong>列表</strong>
  </div>
  <ul>
    <li>Nginx 配置：location wirte balance </li>
    <li>nodejs 异步模型</li>
    <li>VUE 多组建 通讯方式</li>
    <li>mongo 自动备份</li>
    <li>JS 原型，闭包，作用域</li>
    <li>Linux 常用命令，VIM操作</li>
  </ul>
</div>
<script type="text/javascript">
  $.ajax();
</script>
