<div class="archive">
  <div>
    <strong>归档</strong>
  </div>
  <%
    for(var i = 0; i < tags.length;i++) {
  %>
    <span class="tag <%=tags[i].color%>"><%=tags[i].name%></span>
  <%}%>
</div>

<div class="archive-latest">
  <div>
    <strong>列表</strong>
  </div>
  <ul>
    <% for(var i = 0;i < program.length;i++){%>
      <li><%=program[i].title%></li>
    <% } %>
  </ul>
</div>
<script type="text/javascript">
  $.ajax();
</script>
