<div class="category">
  <div class="">
    <strong>分类</strong>
  </div>
  <%= tags %>
  <%for(var i = 0; i < tags.length;i++) {%>
    <span class="tag"><%=tags[i].name%></span>
  <%}%>
</div>

<div class="category-latest">
  <div class="">
    <strong>最新问答</strong>
  </div>
</div>

<div class="category-hot">
  <div class="">
    <strong>最热问答</strong>
  </div>

</div>
