<h4>群聊</h4>

<div class="chatContent" id="publicChat">
</div>

<form action="#" id="publicSay">
    <div class="input-group">
        <% if(session.isAuth){ %>
        <input class="form-control" id="publicSayContent">
        <% }else{ %>
        <input class="form-control" id="publicSayContent" disabled="disabled">
        <% } %>
        <span class="input-group-btn">
            <% if(session.isAuth){ %>
            <button class="btn btn-default">发送</button>
            <% }else{ %>
            <button class="btn btn-default" disabled="disabled">发送</button>
            <% } %>
        </span>
    </div>
</form>