<h4>群聊<% if(!session.isAuth){ %><span style="color: orange;font-size:13px;margin-left:10px;">请先登录</span><% } %></h4>


<div class="chatContent" id="publicChat">
</div>

<form action="#" id="publicSay">
    <div class="input-group">
        <input class="form-control" id="publicSayContent" disabled="disabled">
        <span class="input-group-btn">
            <button class="btn btn-default" disabled="disabled" id = "sayBtn">发送</button>
        </span>
    </div>
</form>
<script>
  var loginName = '';
  if (document.querySelector('.login_a')) {
    loginName = document.querySelector('.login_a').title;
  }
  if (loginName) {
    document.querySelector('#sayBtn').removeAttribute('disabled');
    document.querySelector('#publicSayContent').removeAttribute('disabled');
  }
</script>
