<% include ../layout/header %>
<% include ../nav/topbar %>

<!--<div class="row">-->
<!--<div class="col-lg-8 col-lg-offset-2 col-xs-12">-->
<!--<h2><%= tittle %></h2>-->
<!--</div>-->
<!--</div>-->
<!---->
<%
var length = game.length;
for(var i = 0 ;i < length;i++){
%>
<div class="row" style="margin-top: 50px">
    <div class="col-xs-6">
        <div class="col-lg-5 col-lg-offset-5 myBox">
            <%= introduce[i] %>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 ">
                <a href=<%= hrefUrl[i] %>><img src="<%= imgUrl[i] %>"></a>
            </div>
        </div>
    </div>
</div>
<% } %>
<% include ../layout/footer %>