<% include ../layout/header.ejs %>
<% include ../nav/topbar.ejs %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-1 col-xs-12">
        <h2>Welcome to <%= tittle %></h2>
    </div>
</div>

<div class="row">
    <br>
    <div class="col-lg-2 col-lg-offset-2">
        <h3><%= game1 %></h3>
    </div>
    <div class="col-lg-6">
        <a href="/game/fishman"><img src="/img/fishman.png"></a>
    </div>
</div>

<div class="row">
    <br>
    <br>
    <br>
    <div class="col-lg-2 col-lg-offset-2">
        <h3><%= game1 %></h3>
    </div>
    <div class="col-lg-6">
        <a href="/game/fishman"><img src="/img/fishman.png"></a>
    </div>
</div>

<% include ../layout/footer.ejs %>