<div class="sideBar">
    <a href="#"></a>
    <a href="/admin/manager/user">User Manage</a>
    <a href="/admin/manager/article">Article Manage</a>
    <a href="/admin/manager/program">Program Manage</a>
</div>