<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm font-logo">Coconut</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav ">
                <!--<li><a href="/software" class="topBarFont">应用</a></li>-->
                <li><a href="/sns" class="topBarFont">问答</a></li>
                <li><a href="/program" class="topBarFont">技术杂谈</a></li>
                <li><a href="/introduce" class="topBarFont">关于</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        工匠屋 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/chat" class="topBarFont">聊天</a></li>
                        <li><a href="/crawler" class="topBarFont">新闻</a></li>
                        <li><a href="/game" class="topBarFont">demo</a></li>
                        <li><a href="/tools" class="topBarFont">常用工具</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right ">

                <% if(!session.isAuth){ %>
                <li><a href="/login" class="topBarFont">登录</a></li>
                <li><a href="/register" class="topBarFont">注册</a></li>
                <% }else{ %>
                <li><a href="#" class="topBarFont" id="userName">
                        <%= session.name %>
                    </a></li>
                <li><a href="/logout" class="topBarFont">
                        退出</a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <!-- /.nav-collapse -->
    <!-- /.container -->
</nav>
<div class="container">