<div class="cc-navbar">
  <div class="in-navbar">
      <ul class="">
          <!-- <li><a href="/software" >应用</a></li> -->
          <li><a href="/">Coconut</a></li>
          <li><a href="/sns" >问答</a></li>
          <li><a href="/program" >技术杂谈</a></li>
          <li><a href="/introduce" >关于</a></li>
          <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                 aria-expanded="false">
                  工匠屋 <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="/chat" >聊天</a></li>
                  <li><a href="/crawler" >新闻</a></li>
                  <li><a href="/game" >demo</a></li>
                  <li><a href="/tools" >常用工具</a></li>
              </ul>
          </li>

      </ul>
      <ul>
        <% if(!session.isAuth){ %>
        <li><a href="/login" >登录</a></li>
        <li><a href="/register" >注册</a></li>
        <% }else{ %>
        <li>
          <a href="/sns/sendArticle"><button class="btn btn-success bigBtn">发帖</button></a>
        </li>
        <li><a href="#"  id="userName">
                <%= session.name %>
            </a></li>
        <li><a href="/logout" >
                退出</a></li>
        <% } %>

      </ul>
  </div>
</div>

<div class="container">
