<% include layout/header %>
<% include nav/topbar %>

<div class="row">
    <div class="col-lg-9 ">
        <div class="block">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <br>
                    <br>
                    <form action="/login" method="post">
                        邮箱:<input name="email" class="form-control" type="email" required="required">
                        <br>
                        密码:<input name="password" type="password" class="form-control" required="required">
                        <br><br>
                        <button type="submit" class="btn btn-success">登录</button>
                    </form>
                          <%- message %>
                    <br> <br> <br>

                </div>
            </div>
        </div>
    </div>

    <% include plugins/rightContent.html %>
</div>
<% include layout/footer %>
