<% include ../layout/header %>
<% include ../layout/topbar %>

<div class="container-left">
  <% include plugins/publicChat.ejs %>

  <!-- <div class="block" id="">
      <% include plugins/privateChat.ejs %>
  </div> -->
</div>

<!-- <div class="container-right">
  <% if(session.isAuth){ %>
  <div class="block">
      <button type="button" class="btn btn-success bigBtn" data-toggle="modal" data-target=".bs-example-modal-sm">
          新建聊天室
      </button>

      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm">
              <div class="modal-content" style="padding: 20px">
                  <form id="createRoom" action="/chat/createRoom" method="post">
                      房间名:
                      <input name="roomName" class="form-control">
                      <br>
                      <button class="btn btn-success">创建</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <% } %> -->

  <div class="container-right">
      <h4>在线人数</h4>

      <h3 id="onlineNum">0</h3>
  </div>
</div>

<% include ../layout/footer %>
<script src="/app/TCP/client/clientOn.js"></script>
<script src="/app/TCP/client/clientEmit.js"></script>
