<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-9">
        <div class="block">
<%  %>

        </div>
    </div>
    <% include ../plugins/rightContent.html %>
</div>

<% include ../layout/footer %>