<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <% include bbs.ejs %>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-3">
        <% include ../plugins/login.html %>
    </div>
</div>
<% include ../layout/footer %>