<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row" style="margin-top: 30px">
    <div class="col-xs-7 col-xs-offset-1 bbsLeft">
        <% include bbs.ejs %>
    </div>

    <div class="col-xs-2 col-xs-offset-1 bbsRight">
        <% include ../plugins/login.html %>
    </div>
</div>
<% include ../layout/footer %>