<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-9">
        <div class="block">
            <ul class="list-unstyled">
                <li>sdfs</li>
                <li>sdfs</li>
                <li>sdfs</li>
                <li>sdfs</li>
                <li>sdfs</li>
                <li>sdfs</li>
                <li>sdfs</li>
            </ul>
        </div>
    </div>

    <div class="col-lg-3">
        <% if(session.isAuth){ %>
        <div class="block">
            <a href="/bbs/sendArticle">
                <button class="btn btn-info" style="width: 225px">发帖</button>
            </a>
        </div>
        <% } %>

        <div class="block">
            <% if(!session.isAuth){ %>
            <% include ../plugins/login.html %>
            <% }else{ %>
            <% include ../plugins/personal.ejs %>
            <% } %>
        </div>
    </div>
</div>
<% include ../layout/footer %>