<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-9">
        <div class="block">
            <% include bbs.ejs %>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="block">
            <% if(!session.isAuth){ %>
            <% include ../plugins/login.html %>
            <% }else{ %>
            <% include ../plugins/personal.ejs %>
            <% } %>
        </div>
    </div>
</div>
<% include ../layout/footer %>