<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,56},{70,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,50}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{66,48}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{66,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>t5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{64,48}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>t6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,58},{66,48}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{66,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>t7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{68,48}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{68,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac6f35e5d4ed75e838be7dd5929a2ac$</string>
            <key>textureFileName</key>
            <string>fish1.png</string>
        </dict>
    </dict>
</plist>
