<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-9">
        <div class="block">
            <h4>NodeJS</h4>

            <div class="introduce">
                <p>nodejs还是挺有意思的，事件驱动在服务端确实少见，也是这点吸引了我</p>

                <p>node所有的IO操作都是异步的，比起传统的单线程或者多线程模型有独特的优势</p>

                <p>我也不多夸了，`(*∩_∩*)′</p>

                <p>想学习的话推荐这个社区：<a href="https://cnodejs.org/" target="_blank">CNODE社区</a></p>

                <p> 本网站的搭建，也是参考了git上的<a href="https://github.com/cnodejs/nodeclub" target="_blank">https://github.com/cnodejs/nodeclub</a>这个项目
                </p>
            </div>
            <hr>
            <h4>MongoDB</h4>

            <div class="introduce">
                <p>作为和php+mysql一样的经典组合，node+mongo似乎也成了一个经典</p>

                <p>作为非常热门的非关系型数据库，mongodb给了我一个不错的印象：更适合程序员用的数据库.....</p>

                <p>想学习的话：这里有个非常不错的博客:<a href="http://www.cnblogs.com/huangxincheng/archive/2012/03/08/2384571.html"
                                        target="_blank">8天学通MongoDB</a></p>

            </div>
            <hr>

            <h4>本网站的功能</h4>

            <div class="introduce">
                <p>首页就是经典的论坛系统了，因为做过太多次，就没有做的十分规范，以后会慢慢完善</p>

                <p>其次就是经典的长连接的，一个聊天系统，node的socket.io实现，还是有点意思的</p>

                <p>一个新闻系统当然不可能我去更新内容了，O(∩_∩)O，当然是node爬取了</p>

                <p>最后如果对技术感兴趣的话，加一下旁边的群，里面还没什么人啊！！</p>
            </div>
            <hr>
            <h4>最后声明</h4>

            <div class="introduce">
                <p>该网站已备案，服务器是阿里云</p>

                <p>皖ICP备15008495号-1</p>

                <p></p>

                <p></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="block">
            <h4>网站介绍:</h4>
            使用bootstrap+express+mongo制作的网站，
            博主感兴趣的一些玩具会发布到这里
        </div>
        <div class="block">
            <h4> H5技术交流群：</h4>
            417196663
        </div>
        <div class="block">
            <h4> 博主微信：</h4>
            <img src="/public/img/weixin.png">
        </div>
    </div>
</div>
</div>

<% include ../layout/footer %>