<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-9">
        <div class="block">

            <h4>本网站介绍</h4>

            <div class="introduce">
                <p>Coconut 首先声明 实质是个人博客，欢迎各位喜欢技术的程序一起讨论</p>

                <p>技术栈：bootstrap+express+mongodb</p>

                <p> 博主感兴趣的一些demo和编程想法发布到这里</p>

                <p>首页提供了一个sns形式的问答系统，朋友们可以在这里提出关于技术问题，相信会有热心网友耐心解答的</p>

                <p>目前时间不是太充裕，做的瑕疵比较多，以后会慢慢完善</p>

                <p>在技术杂谈一项，类似个人博客，我会在这把我接触过的技术和一些经验发表出来</p>

                <p>在工匠屋中，我会把一些个人感兴趣，可以发布的demo拿出来</p>
                <br>

                <p>最后如果对技术感兴趣的话，加一下旁边的群，里面还没什么人啊！！</p>
            </div>
            <hr>
            <h4>备案声明</h4>

            <div class="introduce">
                <p>皖ICP备15008495号-1</p>

                <p></p>
            </div>
        </div>
    </div>
    <% include ../plugins/rightContent.html %>
</div>
</div>

<% include ../layout/footer %>
