<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-9">
        <div class="block">
            <!--<h4>NodeJS</h4>-->

            <!--<div class="introduce">-->
            <!--<p>nodejs还是挺有意思的，事件驱动在服务端确实少见，也是这点吸引了我</p>-->

            <!--<p>node所有的IO操作都是异步的，比起传统的单线程或者多线程模型有独特的优势</p>-->

            <!--<p>我也不多夸了，`(*∩_∩*)′</p>-->

            <!--<p>想学习的话推荐这个社区：<a href="https://cnodejs.org/" target="_blank">CNODE社区</a></p>-->

            <!--<p> 本网站的搭建，也是参考了git上的<a href="https://github.com/cnodejs/nodeclub" target="_blank">https://github.com/cnodejs/nodeclub</a>这个项目-->
            <!--</p>-->
            <!--</div>-->
            <!--<hr>-->
            <!--<h4>MongoDB</h4>-->

            <!--<div class="introduce">-->
            <!--<p>作为和php+mysql一样的经典组合，node+mongo似乎也成了一个经典</p>-->

            <!--<p>作为非常热门的非关系型数据库，mongodb给了我一个不错的印象：更适合程序员用的数据库.....</p>-->

            <!--<p>想学习的话：这里有个非常不错的博客:<a href="http://www.cnblogs.com/huangxincheng/archive/2012/03/08/2384571.html"-->
            <!--target="_blank">8天学通MongoDB</a></p>-->

            <!--</div>-->
            <!--<hr>-->

            <h4>本网站介绍</h4>

            <div class="introduce">
                <p>Coconut 首先声明 实质是个人博客，欢迎各位喜欢技术的程序一起讨论</p>

                <p>技术栈：bootstrap+express+mongodb</p>

                <p> 博主感兴趣的一些demo和编程想法发布到这里</p>

                <p>首页提供了一个sns形式的问答系统，朋友们可以在这里提出关于技术问题，相信会有热心网友耐心解答的</p>

                <p>目前时间不是太充裕，做的瑕疵比较多，以后会慢慢完善</p>

                <p>在技术杂谈一项，类似个人博客，我会在这把我接触过的技术和一些经验发表出来</p>

                <p>在工匠屋中，我会把一些个人感兴趣，可以发布的demo拿出来</p>
                <br>

                <p>最后如果对技术感兴趣的话，加一下旁边的群，里面还没什么人啊！！</p>
            </div>
            <hr>
            <h4>备案声明</h4>

            <div class="introduce">
                <p>皖ICP备15008495号-1</p>

                <p></p>
            </div>
        </div>
    </div>
    <% include ../plugins/rightContent.html %>
</div>
</div>

<% include ../layout/footer %>