<% include ../../layout/adminHeader.ejs %>
  <% include ../../nav/adminSidebar.ejs %>
    <% include ../../nav/adminTopbar.ejs %>

      <div class="content">
        <a href="/admin/tag/add">
          <button class="btn btn-success">添加新的标签</button>
        </a>

        <br>
        <br>
        <h4>已有程序标签：</h4>
        <table class="table table-hover">
          <thead>
            <th>标签</th>
            <th>操作</th>
          </thead>
          <% for(var i = 0;i < tags.length;i++){ %>
            <tr>
              <td>
                <%= tags[i].name %>
              </td>
              <td>
                <button class="btn btn-xs btn-info">修改</button> |
                <button class="btn btn-xs btn-info">删除</button>
              </td>
            </tr>
            <% } %>
        </table>
      </div>
      <% include ../../layout/adminFooter.ejs %>
