<% include ../layout/header %>
<% include ../layout/topbar %>

<div class="container-left">
  <%
  var size = docs.length;
  for(var i = size - 1;i > -1;i--){
  %>
    <div class="sns">
      <div class="sns-avatar">
        <img src="/public/img/Avatar.gif" alt="">
      </div>

      <div class="sns-right">
        <div class="sns-category">
          来自分类: node
        </div>

        <div class="sns-title">
          <a href="/sns/Article?id=<%= docs[i]._id %>"><%= docs[i].title %></a>
        </div>

        <div class="sns-author">
          <%= docs[i].author %>
        </div>
      </div>

    </div>
  <% } %>
</div>

<div class="container-right">
  <div>分类</div>
  <span class="tag my-tag">node</span>
  <span class="tag green-tag">HTML5</span>
  <span class="tag yellow-tag">VUE</span>
  <span class="tag green-tag">Element</span>
  <span class="tag green-tag">Mongo</span>
  <span class="tag blue-tag">Nginx</span>
</div>

<% include ../layout/footer %>
