</div>
<div class="cc-footer">
  <div class="footer">
    <div>
        <h5>H5/Node 技术交流群</h5>
        <img src="/public/img/qq.png" alt="">
    </div>
    <div class="">
        <h5>微信打赏博主一元</h5>
        <img src="/public/img/wx.png" alt="">
    </div>
    <div>
        <h5> 网站备案: </h5>
        <div style="font-size:13px;">
          皖ICP备15008495号-1
        </div>
    </div>
    <div class="ad">
      <span class="ad-title">广告小专区</span><span>(点一下也是爱)</span>
      <a class="ad-item" href='http://u.ctrip.com/union/CtripRedirect.aspx?TypeID=2&Allianceid=438136&sid=934105&OUID=&jumpUrl=http%3A%2F%2Fwww.ctrip.com%2F%3FAllianceid%3D438136%26sid%3D934105%26OUID%3D%26MultiUnionSupport%3Dtrue' target='_blank' >携程旅行网-首页</a>
      <a class="ad-item" href='http://u.ctrip.com/union/CtripRedirect.aspx?TypeID=2&Allianceid=438136&sid=934040&OUID=&jumpUrl=http%3A%2F%2Ftrains.ctrip.com%2F%3FAllianceid%3D438136%26sid%3D934040%26OUID%3D%26MultiUnionSupport%3Dtrue' target='_blank' >携程旅行网-火车票</a>
      <a class="ad-item" href='http://u.ctrip.com/union/CtripRedirect.aspx?TypeID=2&Allianceid=438136&sid=934040&OUID=&jumpUrl=http%3A%2F%2Fbus.ctrip.com%2F%3FAllianceid%3D438136%26sid%3D934040%26OUID%3D%26MultiUnionSupport%3Dtrue' target='_blank' >携程旅行网-汽车票</a>
    </div>
  </div>
</div>

</body>
</html>
