<% include ../../layout/adminHeader.ejs %>
<% include ../../nav/adminSidebar.ejs %>
<% include ../../nav/adminTopbar.ejs %>

<div class="content">
    <form action="/admin/program/add" method="post">
        类别：<input name="category" class="form-control" required="required">
        标题：<input name="title" class="form-control" required="required">
        <br>
        <div>
            正文： <textarea name="content" id="editor" required="required"
                          style="width: 100%;height: 450px"></textarea>
        </div>
        <br>
        <button class="btn btn-success" type="submit">添加</button>
    </form>
</div>
<% include ../../layout/adminFooter.ejs %>
<script>
    var ue = UE.getEditor('editor');
</script>
