<% include ../../layout/adminHeader.ejs %>
<% include ../../nav/adminSidebar.ejs %>
<% include ../../nav/adminTopbar.ejs %>

<div class="content">
    <form action="/admin/program/edit" method="post">
        <input name = "_id" hidden value="<%= program[0]._id %>"/>
        类别：<input name="category" class="form-control" value="<%= program[0].category %>" required="required"><br>
        标题：<input name="title" class="form-control" value="<%= program[0].title %>" required="required"><br>
        <div>
            正文： <textarea name="content" id="editor" required="required"
                                      style="width: 100%;height: 450px"><%=program[0].content%></textarea>
        </div>
        <br>
        <button class="btn btn-success" type="submit">修改</button>
    </form>
</div>
<% include ../../layout/adminFooter.ejs %>
<script>
    var ue = UE.getEditor('editor');
</script>
