<% include ../layout/header.ejs %>
<% include ../layout/topbar.ejs %>
<div class="container-left">
  <% for(var i = 0;i < program.length;i++ ){ %>
  <div class="programDiv">
      <div class="title">
          <%= program[i].title %>
      </div>
      <a href="/program/one?id=<%= program[i]._id %>" style="display: block">
          <div class="content">
              <%- program[i].content %>
          </div>
      </a>
  </div>
  <% } %>
</div>
<div class="container-right">
  <div>分类</div>
  <span class="tag my-tag">node</span>
  <span class="tag green-tag">HTML5</span>
  <span class="tag yellow-tag">VUE</span>
  <span class="tag green-tag">Element</span>
  <span class="tag green-tag">Mongo</span>
  <span class="tag blue-tag">Nginx</span>
</div>

<% include ../layout/footer %>
