<% include ../layout/header.ejs %>
<% include ../layout/topbar.ejs %>

<div class="container-left">
  <div class="oneProgramDiv">
      <h5 class="title">
          <%= one.title %>
          <span class="share">
            <wb:share-button appkey="554164338" addition="simple" type="button"></wb:share-button>
          </span>
      </h5>
      <div class="content">
          <%- one.content %>
      </div>
      <br>
      <br>
  </div>
</div>

<div class="container-right">
  <% include ../plugins/archive %>
</div>

<% include ../layout/footer %>
